.App {
  text-align: center;
}
 
.App-header {
  background-color: #184059;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EEEDF0;
  position: relative;
}

.App-link {
  color: #BF7B3F;
}

.App-main { 
  background-color: #EEEDF0;
  min-height: 100vh; 
}

.App-toolbar { 
  background-color: #5D8AA6;
  height: 50px; 
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.App-btn {
  margin: 0 15px;
  padding: 5px 15px;
  background-color: #184059;
  color: #EEEDF0;
  border: none;
  height: 35px;
  cursor: pointer;
}
.App-btn:active { 
  background-color: #BF7B3F;
}